.dashboard-user-positions {
  .position-card {
    position: relative;
    padding-left: 100px;
  }

  .logo {
    margin-right: 25px;
  }

  .btn-apply {
    background-color: #27AE60;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
  }

  .request-status-dashboard {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 17px;
    padding: 4px 21px;

    &.accepted {
      background-color: green;
      color: white;
    }

    &.pending {
      background-color: #ECB100;
      color: black;
    }

    &.declined {
      background-color: red;
      color: white;
    }
  }
}
