.position-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 30px;
  margin: 30px 0;
}

.position-card-info {
  flex-basis: 50%;
}

.card-skill-level {
  flex-basis: 25%;
}

.card-action {
  flex-basis: 25%;
}

.btn-apply {
  background-color: #27AE60;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
}
