.position-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 30px;
  margin: 30px 0;
  min-height: 225px;
  box-shadow: 3px 2px 15px gray;
}

.position-card-info {
  flex-basis: 50%;
  padding: 0px 130px 0px 0px;
}

.card-skill-level {
  flex-basis: 25%;
}

.card-action {
  flex-basis: 25%;
  text-align: center;
}

.btn-success {
  a:link {
    color: white;
  }
}

.btn-danger {
  a:link {
    color: white;
  }
}

.btn-apply {
  background-color: #27AE60;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
}

.position-rate {
  font-size: 20px;
  margin-bottom: 60px;
}

.request-status {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 17px;
  padding: 4px 21px;
  margin-left: 249px;

  &.accepted {
    background-color: green;
    color: white;
  }

  &.pending {
    background-color: #ECB100;
    color: black;
  }

  &.declined {
    background-color: red;
    color: white;
  }
}
