.project-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-info {
  display: flex;
  align-items: center;
}

.start-end-dates {
  display: flex;
  // justify-content: flex-start;
  // align-items: center;
}

.btn-add-position {
  font-size: 40px;
}

.project-title {
  margin-left: 50px;
}
// .plus-button {
//   align-self; flex-end;
// }

.flex-icons{
  display: flex;
  align-items: center;
  p{
    margin: 0;
    margin-left: 10px;
  }
}
p{
    margin: 0;
  }
