.project-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-info {
  display: flex;
  align-items: center;
}

.start-end-dates {
  display: flex;
  // justify-content: flex-start;
  // align-items: center;
}

// .plus-button {
//   align-self; flex-end;
// }
