.project-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;

  h1 {
    margin: 0;
  }
}

.project-info {
  display: flex;
  align-items: center;
}

.project-details {
  margin-left: 110px;
}

.short-description {
  margin-bottom: 5PX;
  font-size: 20px;
  color: rgb(120, 120, 120);
}

.fa-user-alt {
  color: #44b0c1;
}

.fa-briefcase {
  color: #44B0C1;
}

.fa-sign-out-alt {
  color: #44B0C1;
}

.fa-user {
  color: #44B0C1;
}

.fa-edit {
  color: #44B0C1;
}

.fa-trash-alt {
  color: #44B0C1;
}

.fa-plus-circle {
  color: #44B0C1;
}

.start-end-dates {
  // display: flex;
  font-size: 15px;
  // justify-content: flex-start;
  // align-items: center;
  margin-bottom: 20px;

}

.btn-add-position {
  font-size: 40px;
}

.project-title {
  margin-left: 50px;
}
// .plus-button {
//   align-self; flex-end;
// }

.flex-icons{
  display: flex;
  align-items: center;
  p{
    margin: 0;
    margin-left: 10px;
  }
}
p{
    margin: 0;
  }
