<div>
  <h4><%= link_to "See your projects", projects_path %></h4>
  <h4><%= link_to "See all projects", projects_path(all: true) %></h4>
  <h4><%= link_to "Home", root_path %></h4>

  <% if user_signed_in? %>
    <p><%= link_to "User page", user_path(current_user) %></p>
  <% end %>

</div>

