<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<ul>
  <li><%= link_to 'See the groups list', groups_path %></li>
  <li><%= link_to 'See the projects list', projects_path %></li>
</ul>




