<div id="info-banner">
  <h3>PROJECTS AT YOUR FINGERTIPS</h3>
</div>


<div class="container" >
  <div class="search-wrapper">
    <div id="job-search">
      <%= form_tag projects_path, method: :get do %>
        <%= text_field_tag :query, params[:query],class: "form-control",
          id: "query-freelanz",
          placeholder: "FIND YOUR NEXT PROJECT"
        %>
      <% end %>
    </div>
  </div>
  <!-- NO USER SIGNED IN OR PARAMS ALL : SHOW ALL PROJECTS -->
  <% if !user_signed_in? || params[:all] %>

  <!-- USER SIGNED IN & THERE IS ONLY ONE PROJECT : -->
  <% elsif user_signed_in? && @projects.count == 1 %>

  <!-- USER SIGNED IN THERE IS NO PROJECT : -->
  <% elsif  user_signed_in? && @projects.count == 0 %>

  <!-- USER SIGNED IN & THERE ARE MORE THAN ONE PROJECT : -->
  <% elsif user_signed_in? %>
  <% end %>

  <div style="padding-top: 30px">
    <div class="row">
      <% @projects.uniq {|s| s.company_name}.each do |project| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <%= render "shared/project_card", project: project %>
        </div>
      <% end %>
    </div>
  </div>
</div>
