  a{
    text-decoration: none;
    &:hover{
       text-decoration: none;
    }
  }

.card {
  height: 335px;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  padding: 10px;
  background: white;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
  p{
    color: black;
  }
  .card-hover{
    display: none;
  }
  &:hover{
    .card-hover{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: black;
      opacity: 0.8;
      display: flex;
      justify-content: center;
      align-items: center;
      p{
        color: white;
      }
    }
  }
}

.project-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

.project-card-footer {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;

  p {
    text-align: center;
    font-size: 16px;
    color: rgb(50, 50, 50);
    flex: 1;
  }
}
