  a{
    text-decoration: none;
    &:hover{
       text-decoration: none;
    }
  }

  .project-description {
    margin: 0 20px;
  }

.request-status {
  padding: 10px 40px;

  &.accepted {
    background-color: green;
    color: white;
  }

  &.pending {
    background-color: yellow;
    color: black;
  }

  &.declined {
    background-color: red;
    color: white;
  }

}

.card {
  height: 335px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0.5px 1px 1px 1px rgba(0, 0, 0, 0.2);
  padding: 10px;
  background-color: rgba(230, 230, 230, 0.1);
  margin-bottom: 20px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  ;
  p{
    color: black;
  }
  .card-hover{
    display: none;
  }
  &:hover{
    .card-hover{
      position: absolute;
      top: 0;
      border-radius: 5px;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(70,154,224,0.9);
      // background-color: grey;
      opacity: 0.95;
      display: flex;
      justify-content: center;
      align-items: center;
       color: rgb(70,154,224);
      p{
        color: rgb(70,154,224);
      }
    }
  }
}

.project-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

.project-card-footer {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;

  p {
    text-align: center;
    font-size: 16px;
    color: rgb(50, 50, 50);
    flex: 1;
  }
}

.glitch {
  font-size: 30px;
  text-align: center;
  line-height: 1;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-decoration: none;
  color: #fff;
  &:before,
  &:after{
    display: block;
    content: 'More Details';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .8;
  }
  &:after {
    color: #f0f;
    z-index: -2;
  }
  &:before {
    color: #0ff;
    z-index: -1;
  }
  &:hover {
    &:before {
      animation: glitch .3s cubic-bezier(.25, .46, .45, .94) both infinite
    }
    &:after {
      animation: glitch .3s cubic-bezier(.25, .46, .45, .94) reverse both infinite
    }
  }
}
@keyframes glitch {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0)
    }
    20% {
        -webkit-transform: translate(-1px, 1px);
        transform: translate(-1px, 1px)
    }
    to {
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}

.flex{
  display: flex;
}

.flex-center{
  display: flex;
  align-items: center;
}
